#hiro{
    /* background-color: brown; */
    flex-direction: row;
    
    width: 80vw;
    height: 70vh;
}
#contact-info{
    /* background-color: rgb(56, 69, 81); */
    height: 100%;
    width: 45%;
    text-align: center;    
}

.contact-header{
    margin: 5rem 0 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.contact-info-headers{
    font-weight: 700;
    letter-spacing: 3px;
}

.contact-info-text{
    font-size: .8rem;
    letter-spacing: 3px;
    height: 3rem;
    margin: 0.5rem 10%;
    width: 80%;
    color: aliceblue;
}

.intro{
    margin: 2rem 10% 0;
    height: 9rem;
    /* background-color: aqua; */
}

.center-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}

form{
    height: 100%;
    width: 45%;
    background-color: #1E1E1E;
    box-shadow: 0 0 80px 0px #1a1a1a;
}

.form-input{
    height: 3rem;
    margin: 1rem 10%;
    width: 80%;
    color: aliceblue;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid aliceblue;
}

#submit{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(22, 22, 22);
    border: none;
    box-shadow: 5px 5px 30px 5px #1a1a1a;
}

#submit:hover{
    color: rgb(157, 157, 157);
    background-color: rgba(4, 4, 4, 0);
    
}


@media (max-width: 1397px){
    #hiro{
        /* background-color: rgb(255, 107, 107); */

        height: 75vh
    }

    .center-text{
        /* background-color: #1E1E1E; */
        
        margin: 0 0.5rem;
    }
    .contact-header{
        margin: 2rem 0 1rem;
    }

    .contact-info-text{
        letter-spacing: 2px;
    }

    .intro{
        margin: 2rem 10% 1rem;
        height: 9rem;
    }
}

@media (max-width: 850px) {
    #contact-info{
        display: none;
    }
    form{
        width: 70%;
    }

    
}


@media (max-width: 570px) {
    #contact-info{
        display: none;
    }
    form{
        width: 70%;
    }

    
}




