.nav{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;

}

.logoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: relative;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 3px;
}

.mainNav{
    display: flex;
    align-items: center;
    height: 5rem;
    letter-spacing: 3px;
}

.navBtn{
    font-size: .75rem;
    padding-left: 3rem;
    transition: .2s;
}

.navBtn:hover{
    color: rgb(191, 201, 255);
}