.nav{
    /* background-color: red; */
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;

}

.logoDiv{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: relative;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 800;
    /* background-color: aquamarine; */
}

.mainNav{
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: red; */
    height: 5rem;
}

.navBtn{
    border: none;
    font-size: 1rem;
    background-color: transparent;
    padding-left: 5rem;
    text-decoration: none;
    cursor: pointer;
}