#loader{
    animation: move-loader 1s cubic-bezier(0.81,-0.206, 0.67, 0.68) forwards 4s;
}

.loader-in-animation{
    animation: move-in-loader 1.3s cubic-bezier(0.81,-0.206, 0.67, 0.68) forwards;
}


.name-animate{
    font-size: 3rem;
    font-weight: 600;
}

.typing-animation{
    position: relative;
    font-size: 3rem;
    margin-left: 25rem;
}

.typing-animation::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1E1E1E;
    animation: animate 1s steps(12) forwards 2s;
}

.typing-animation::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: blinkk 6s steps(3);
}


@keyframes blinkk{
    0%{
        border-left: none
    }
    5%{
        border-left: 2px solid wheat;
    }
    10%{
        border-left: none
    }
    15%{
        border-left: 2px solid wheat;
    }
    20%{
        border-left: none
    }
    25%{
        border-left: 2px solid wheat;
    }
    30%{
        border-left: none
    }
    
}

@keyframes animate{
    10%{
        border-left: 2px solid wheat;
    }
    100%{
        border-left: 2px solid wheat;
        left: 100%;
    }

}

@keyframes  move-loader {
    100%{
        left: 100%;
    }
}

@keyframes  move-in-loader {
    100%{
        left: 0;
    }
}

/* ------------- */
/* media queries */
/* ------------- */

@media (max-width: 600px) {

    .name-animate{
        margin-left: 8rem;
    }
    
    .typing-animation{
        margin-left: 8rem;
    }

}
@media (max-width: 500px) {

    .name-animate{
        margin-left: 5rem;
    }
    
    .typing-animation{
        margin-left: 8rem;
    }
}
